[submodule "greenatom-battleship"]
	path = greenatom-battleship
	url = https://github.com/ZmaevDA/greenatom-battleship
[submodule "greenatom-test-task"]
	path = greenatom-test-task
	url = https://github.com/ZmaevDA/greenatom-test-task
[submodule "greenatom-exceptions"]
	path = greenatom-exceptions
	url = https://github.com/ZmaevDA/greenatom-exceptions
[submodule "greenatom-collections-measure"]
	path = greenatom-collections-measure
	url = https://github.com/ZmaevDA/greenatom-collections-measure
[submodule "greenatom-serialization"]
	path = greenatom-serialization
	url = https://github.com/ZmaevDA/greenatom-serialization
[submodule "greenatom-console-filemanager"]
	path = greenatom-console-filemanager
	url = https://github.com/ZmaevDA/greenatom-console-filemanager
